/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 390px) {
    .nav .left h1 {
        font-size: 16px !important;
    }

    .primary_heading {
        font-size: 35px !important;
        text-align: center;
        margin-top: 30px !important;
    }

    .secondry_heading {
        font-size: 35px !important;
        text-align: center;
        margin-top: 0px !important;
    }

    .paragraph {
        font-size: 13px !important;
        line-height: 1.8 !important;
        margin-top: 10px;
        line-height: auto !important;
        text-align: center;
    }

    .home .left .contact_details .contact_details_left .sm_heading {
        font-size: 13px !important;
        text-align: center;
    }

    .about_me .info_text {
        font-size: 14px !important;
    }

    .skills .right .first_row .card .icon{
        width: 100% !important;
        min-height: 320px !important;
        margin-right: 0 !important;
        margin-top: 35px;
        margin-bottom: 10px !important;
    }

    .skills .right .first_row .card .icon img{
        width: 150px ;
        height: 150px ;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) and (max-width: 767px) {
    .background {
        padding: 10px;
    }

    section {
        margin: 0px 20px;
    }

    .common_section {
        margin: 20px 20px;
    }

    .common_devider{
        margin: 0 !important;
    }

    .nav {
        padding: 20px 0px;
    }

    .nav .right .links {
        display: none !important;
    }

    .primary_heading {
        font-size: 40px;
        text-align: center;
        margin-top: 20px !important;
    }
    
    .secondry_heading {
        font-size: 40px;
        text-align: center;
        margin-top: 0px !important;
    }

    .paragraph {
        font-size: 15px;
        line-height: 1.8 !important;
        margin-top: 10px;
        line-height: normal;
        text-align: center;
    }

    .nav .left h1 {
        font-size: 20px;
    }

    .nav .right .nav_button {
        padding: 10px 10px;
        font-size: 12px;
        font-weight: 500;
    }

    .home {
        flex-direction: column-reverse;
    }

    .home .line {
        margin: 20px 0px;
    }

    .home .left {
        width: 100%;
    }

    .home .left .contact_details {
        flex-direction: column-reverse;
    }

    .home .left .contact_details .contact_details_left .sm_heading {
        font-size: 15px;
        text-align: center;
    }

    .home .left .contact_details .contact_details_left .social_links {
        justify-content: center;
        margin: 0 !important;
    }

    .home .left .contact_details .contact_details_left .social_links a {
        width: fit-content;
    }

    .home .left .contact_details .contact_details_left .social_links .circle {
        width: 30px !important;
        height: 30px !important;
        margin: 0px 5px !important;
    }

    .home .left .contact_details .contact_details_left .social_links .circle img {
        width: 16px;
    }

    .home .left .contact_details .contact_details_right {
        margin-bottom: 20px !important;
    }

    .home .right {
        width: 100%;
    }

    .home .right img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .about_me .info_text {
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
    }

    .skills{
        display: flex;
        flex-direction: column;
    }

    .skills .left{
        width: 100%;
        height: auto;
    }
    
    .skills .right{
        width: 100%;
        height: auto;
    }

    .skills .right .first_row{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .skills .right .first_row .card{
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: column;
    }

    .skills .right .first_row .card .icon{
        width: 100% !important;
        min-height: 350px;
        margin-right: 0 !important;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .skills .right .first_row .card .icon img{
        width: 150px ;
        height: 150px ;
    }

    .skills .right .first_row .devider{
        display: none !important;
    }
    
    .skills .right > .devider{
        display: none !important;
    }

    .portfolio{
        flex-direction: column;
    }

    .portfolio .left{
        width: 100%;
        height: auto;
    }

    .portfolio .left .expl_btn{
       display: none;
    }

    .portfolio .right{
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .portfolio .right .expl_more .expl_btn{
        display: block;
    }

    .hide{
        display: none;
    }

    .general_info .content{
        display: flex;
        flex-direction: column;
    }

    .general_info .devider{
        display: none !important;
    }

    .general_info .content .secondry_heading {
        font-size: 30px !important;
        line-height: normal !important;
    }

    .general_info .content .paragraph{
        margin-top: 10px !important;
        line-height: 22px !important;
    }

    .process{
        display: flex;
        flex-direction: column;
    }

    .process .mobile_view{
        display: block !important;
        margin-bottom: 30px;
    }

    .process .desk_view{
        display: none !important;
    }
    
    .process .left{
        margin-right: 0 !important;
    }

    .process .left .process_img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    
    .process .right .point{
        margin-top: 30px;
    }
    
    .process .right .point .paragraph{
        margin-top: 10px;
        text-align: start;
    }

    .footer{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    
    .footer .devider, .footer .links{
        display: none !important;
    }

    .footer .section{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .section .social_links .circle {
        margin: 0px 5px !important;
    }

    .other_links{
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .other_links .link{
        font-size: 12px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 820px) {
    .nav .right .links {
        display: none !important;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}