/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .heading_one{
        font-size: 25px;
        font-weight: 600;
    }

    .heading_two{
        font-size: 25px;
    }

    .heading_three{
        font-size: 18px;
    }

    .heading_three_tab{
        font-size: 15px !important;
    }

    .outer_photo_frame{
        width: 250px;
        height: 250px;
    }

    .social_links img{
        width: 25px;
        height: 25px;
    }

    .skills{
        width: 30px;
        height: 30px;
    }

    .work_sample_box, .exp_box, .edu_box{
        width: 90%;
    }

    .work_sample_links{
        font-size: 18px;
    }

    .project_links{
        font-size: 12px;
    }

    .company_name{
        font-size: 18px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 820px) {
    .outer_photo_frame{
        width: 250px;
        height: 250px;
    }

    .heading_two{
        font-size: 25px;
        line-height: 50px;
    }

    .heading_three{
        font-size: 15px;
    }

    .heading_three_tab{
        font-size: 12px !important;
    }

    .skills{
        width: 50px;
        height: 50px;
    }

    .work_sample_box, .exp_box, .edu_box{
        width: 100%;
    }

    .company_name{
        font-size: 20px;
    }

    .work_profile, .work_duration{
        font-size: 16px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}